<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Website Title</title>
</head>
<body>
    <header header style="text-align: center; padding: 10px; background-color: #f8f8f8;">
    <div th:fragment="header">
        <div style="display: flex; align-items: center; padding: 10px; background-color: #f3f3f3;">
            <!-- Hình ảnh cá nhân -->
            <img src="/1-1626437591.jpg" alt="Profile Picture" style="width: 80px; height: 90px; border-radius: 50%; margin-right: 15px;">
            
            <!-- Tiêu đề trang -->
            <h1>Quản lý danh mục</h1>
        </div>
       </div>
    </header>
</body>
</html>
